<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("../../shared/includes/head-default", { pageTitle: "온라인 쇼핑몰 | 상품목록 | 관리자" }) %>
    <link rel="stylesheet" href="/styles/products.css" />
    <script src="/scripts/product-management.js" defer></script>
  </head>
  <body>
    <%- include("../../shared/includes/header") %>
    <main>
      <h1>상품 관리</h1>
      <section>
        <h2>관리 상품들</h2>
        <p>
          <a href="/admin/products/new" class="btn">상품 업로드</a>
        </p>
      </section>
      <section>
        <ul id="products-grid">
          <% for (const product of products) { %>
          <li><%- include("includes/product-item", { product: product }) %></li>
          <% } %>
        </ul>
      </section>
    </main>
  </body>
</html>
