<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("includes/head-default", { pageTitle: "401에러" }) %>
  </head>
  <body>
    <%- include("includes/header") %>

    <main>
      <h1>인증 안됬습나다!</h1>

      <p>로그인 인증 거치고 다시 시도하시길 바랍니다.</p>
      <p><a class="btn" href="/">뒤로가기</a></p>
    </main>
  </body>
</html>
