<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("includes/head-default", { pageTitle: "403에러" }) %>
  </head>
  <body>
    <%- include("includes/header") %>

    <main>
      <h1>권한 없습니다!</h1>

      <p>관리자 권한 되어있지 않습니다.</p>
      <p><a class="btn" href="/">뒤로가기</a></p>
    </main>
  </body>
</html>
