<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("includes/head-default", { pageTitle: "500에러" }) %>
  </head>
  <body>
    <%- include("includes/header") %>

    <main>
      <h1>문제 생겼습니다!</h1>

      <p>10분뒤에 다시 시도하시길 바랍니다.</p>
      <p><a class="btn" href="/">뒤로가기</a></p>
    </main>
  </body>
</html>
