<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "회원가입" }) %>
  <body>
    <%- include("../includes/header") %>
    <main>
      <h1>회원가입</h1>
      <form action="" method=""></form>
    </main>
  </body>
</html>
